* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --fontColor: #333333;
    --opacityFontColor: #33333380;
    --secondFontColor: #dddddd;
}

body {
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* navigation */

.navbar {
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px #000000;
}

.burger {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    background-color: #ffffff;
}

.burger__line {
    width: 25px;
    height: 3px;
    background-color: var(--fontColor);
    margin: 5px;
    transition: all .3s ease;
}

.burger__line--active .burger__line--1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger__line--active .burger__line--2 {
    opacity: 0;
}

.burger__line--active .burger__line--3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
    max-width: 1440px;
    justify-content: space-around;
    flex: 1;
    list-style: none;
    position: absolute;
    left: 0;
    padding-top: 70px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform .5s ease-in;
    transform: translateY(-100%);
}

.menu--show {
    transform: translateY(0%);
}

.menu__item {
    cursor: pointer;
    overflow-x: hidden;
}

.menu__link {
    line-height: 50px;
    text-decoration: none;
    transition: .3s;
    color: var(--fontColor);
    font-size: 16px;
    letter-spacing: 1px;
}

.menu__item:hover>.menu__underscore {
    transform: translateX(0%);
}

.menu__underscore {
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, gold, saddlebrown, goldenrod);
    margin: 0 auto;
    transform: translateX(-101%);
    transition: .3s;
}

.menu__underscore--active {
    transform: translateX(0%);
}



/* to-top */
.to-top-container {
    width: 100%;
    max-width: 1920px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--opacityFontColor);
    color: var(--secondFontColor);
    font-size: 22px;
    cursor: pointer;
    transform: translateY(70px);
    transition: .5s;
}

.to-top:hover {
    background-color: var(--fontColor);
}

.to-top--show {
    transform: translateY(0);
}



/* sections */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.section__content {
    width: 100%;
    height: 100%;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section__title {
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(to right, gold, saddlebrown, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* section--home */

.section--home {
    padding-top: 70px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(50vh - 35px);
}

.logo__name {
    color: var(--fontColor);
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.first-line::after {
    content: "\a";
    white-space: pre;
}

.logo__profession {
    font-weight: 300;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to right, gold, saddlebrown, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}

.banner__img {
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: banner 15s infinite linear both;
}

.banner__img:nth-of-type(2),
.banner__text:nth-of-type(2) {
    animation-delay: 5s;
}

.banner__img:nth-of-type(3),
.banner__text:nth-of-type(3) {
    animation-delay: 10s;
}

.banner__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 300;
    background-color: #03030390;
    color: #ffffff;
    padding: 20px 40px;
    opacity: 0;
    animation: banner 15s infinite linear both;
    text-align: center;
}



/* section--about */

.section--about {
    background-image: url(../img/Katarzyna.jpg);
    background-size: cover;
    background-position: center;
}

.section__content--about {
    background-color: #03030390;
    padding: 90px 40px;
}


.section__description {
    font-size: 14px;
    color: var(--secondFontColor);
    text-align: justify;
    margin: 20px 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.button {
    cursor: pointer;
    overflow-x: hidden;
    border: none;
    background: linear-gradient(to right, gold, saddlebrown, goldenrod);
    transition: .3s;
    transform: scale(1);
}

.button:hover {
    box-shadow: 0 0 10px #000000;
    transform: scale(1.1);
}

.button--portfolio {
    margin-bottom: 20px;
}


.button__link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 36px;
    height: 36px;
    padding: 0 10px;
}


/* section--portfolio */

.portfolio-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-top: 10px;
}

.portfolio-content__arrow {
    cursor: pointer;
    margin: 10px;
    flex: 1;
    text-align: center;
}

.portfolio__icon-arrow {
    font-size: 30px;
    background: linear-gradient(45deg, #faed5d, #AA771C, #d19f49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.portfolio-content__items {
    overflow: hidden;
    height: 100%;
    width: 240px;
}

.portfolio-content__items--karuzela {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: translateX(0%);
    width: 200%;
    height: 100%;
    transition: transform 1s;
}

.portfolio-content__items--karuzela--active {
    transform: translateX(-50%);
}

.portfolio-content__item {
    width: 80px;
    height: 80px;
    overflow: hidden;
    padding: 2px;
}

.portfolio-content__img {
    transition: 1s;
    max-width: 100%;
    height: auto;
}

.portfolio-content__img:hover {
    transform: scale(1.2);
}

.portfolio-dots {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.portfolio-dots__dot {
    color: var(--opacityFontColor);
    transition: .3s;
    cursor: pointer;
    font-size: 16px;
}

.portfolio-dots__dot:hover {
    color: var(--fontColor);
}

.portfolio-dots__dot--active {
    color: var(--fontColor);
}


/* section--offer */

.offer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
    margin-top: 20px;
}

.offer-content__item {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    flex: 1;
    margin-bottom: 10px;
}

.offer-content__item:nth-last-child(1) {
    margin-bottom: 0;
}

.offer-content__img {
    transition: 1s;
    max-width: 100%;
    position: absolute;
}

.offer-content__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 36px;
    font-size: 16px;
    color: var(--secondFontColor);
    text-align: center;
    width: 100%;
    background-color: #03030390;
    opacity: 1;
    transition: opacity 1s;
}

.offer-content__description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px 10px 20px 10px;
    background-color: #03030390;
    transform: translateY(100%);
    transition: transform 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.offer-content__text {
    text-align: justify;
    font-size: 10px;
    color: var(--secondFontColor);
    cursor: default;
}

.offer-content__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 5px;
    background: linear-gradient(to right, gold, saddlebrown, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s;
    transform: scale(1);
}

.offer-content__link:hover {
    transform: scale(1.1);
}

.offer-content__item:hover>.offer-content__img {
    transform: scale(1.3);
}

.offer-content__item:hover>.offer-content__title {
    opacity: 0;
}

.offer-content__item:hover>.offer-content__description {
    transform: translateY(0%);
}



/* section--contact */

.section__content--contact {
    padding: 90px 0;
    position: relative;
}

.contact-content {
    width: 100%;
    display: flex;
    padding: 10px;
    flex: 1;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex: 1;
}

.form__label {
    background-color: transparent;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
}

.form__input,
.form__textarea {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--secondFontColor);
    height: 30px;
    font-size: 12px;
    padding: 10px;
}

.form__textarea {
    flex: 1;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border: 1px solid goldenrod;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--fontColor);
    transition: background-color 5000s ease-in-out 0s;
}

.form__button {
    border: none;
    cursor: pointer;
    color: var(--fontColor);
    background-color: #ffffff;
    border: 2px solid goldenrod;
    transition: .3s;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
}

.form__button:hover {
    background-color: var(--fontColor);
    color: var(--secondFontColor);
    border: 2px solid var(--fontColor);
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: 10px;
}

.socials__icon {
    background: linear-gradient(to right, gold, saddlebrown, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}


.footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    position: absolute;
}

.footer__copyright {
    color: var(--secondFontColor);
    font-size: 14px;
    font-weight: 200;
    line-height: 70px;
}



/* ANIMATION */

@keyframes banner {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1
    }

    33.33% {
        opacity: 1
    }

    38.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


/* MEDIA QUERIES */

@media (min-width: 375px) and (orientation: portrait) {
    .menu__link {
        font-size: 18px;
        line-height: 60px;
    }

    .logo__name {
        font-size: 50px;
        font-weight: 500;
    }

    .logo__profession {
        font-size: 40px;
    }

    .banner__text {
        font-size: 28px;
    }

    .section__title {
        font-size: 40px;
    }

    .section__description {
        font-size: 16px;
    }

    .button__link {
        font-size: 16px;
        line-height: 42px;
        height: 42px;
    }

    .portfolio__icon-arrow {
        font-size: 36px;
    }

    .portfolio-content__items {
        width: 270px;
    }

    .portfolio-content__item {
        width: 90px;
        height: 90px;
    }

    .portfolio-dots__dot {
        font-size: 18px;
    }

    .offer-content__item {
        margin-bottom: 15px;
    }

    .offer-content__title {
        line-height: 42px;
        font-size: 18px;
    }

    .offer-content__text {
        font-size: 12px;
    }

    .offer-content__link {
        font-size: 16px;
    }

    .form__label {
        font-size: 16px;
    }

    .form__input,
    .form__textarea {
        height: 40px;
        font-size: 14px;
    }

    .form__button {
        margin-top: 20px;
        font-size: 16px;
        line-height: 46px;
    }

    .socials {
        padding: 0 20px;
        margin-left: 10px;
    }


    .socials__icon {
        font-size: 36px;
    }
}


@media (min-width: 768px) and (orientation: portrait) {

    .navbar {
        align-items: center;
    }

    .burger {
        display: none;
    }

    .menu {
        flex-direction: row;
        transform: translateY(0);
        padding-top: 0;
    }

    .menu__link {
        line-height: 100%;
        font-size: 20px;
    }

    .logo__name {
        font-size: 80px;
        font-weight: 500;
        line-height: 80px;
    }

    .logo__profession {
        font-size: 60px;
    }

    .banner__img {
        max-width: 100%;
        max-height: none;
    }

    .banner__text {
        font-size: 48px;
    }

    .first-line::after {
        content: "";
        white-space: pre;
    }

    .section__title {
        font-size: 60px;
        padding-top: 20px;
    }

    .section__description {
        font-size: 28px;
    }

    .button--portfolio {
        margin-bottom: 40px;
    }

    .button__link {
        font-size: 28px;
        line-height: 60px;
        height: 60px;
    }

    .portfolio__icon-arrow {
        font-size: 46px;
    }

    .portfolio-content__items {
        width: 600px;
    }

    .portfolio-content__item {
        width: 200px;
        height: 200px;
    }

    .portfolio-dots__dot {
        font-size: 32px;
    }

    .portfolio-dots__dot--dot1 {
        margin-right: 10px;
    }

    .offer-content__item {
        margin-bottom: 20px;
    }

    .offer-content__title {
        line-height: 70px;
        font-size: 34px;
    }

    .offer-content__description {
        padding: 20px 20px 40px 20px;
    }

    .offer-content__text {
        font-size: 20px;
    }

    .offer-content__link {
        font-size: 22px;
        padding: 5px 10px;
    }

    .contact-content {
        flex-direction: column;
        padding: 20px;
    }

    .form__label {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .form__input,
    .form__textarea {
        margin-bottom: 40px;
        height: 50px;
        font-size: 22px;
    }

    .form__button {
        margin-top: 20px;
        width: 100%;
        font-size: 24px;
        line-height: 60px;
    }

    .socials {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .socials__icon {
        font-size: 60px;
        line-height: 70px;
    }

    .footer__copyright {
        font-size: 18px;
    }

}


@media (min-width: 1024px) and (orientation: portrait) {

    .navbar {
        height: 90px;
    }

    .menu__link {
        font-size: 26px;
    }

    .to-top-container {
        height: 70px;
        bottom: 20px;
    }

    .to-top {
        width: 70px;
        height: 70px;
        font-size: 28px;
        transform: translateY(90px);
    }

    .to-top--show {
        transform: translateY(0);
    }

    .section__content {
        padding: 110px 0;
    }

    .section__title {
        padding-top: 40px;
        font-size: 80px;
    }

    .section--home {
        padding-top: 90px;
    }


    .logo {
        height: calc(50vh - 45px);
    }

    .logo__name {
        font-size: 120px;
        line-height: 100%;
    }

    .logo__profession {
        font-size: 100px;
    }


    .banner__text {
        font-size: 60px;
        padding: 30px 50px;
    }

    .section__content--about {
        padding: 110px 60px;
    }


    .section__description {
        font-size: 32px;
        margin: 30px 0;
    }

    .button--portfolio {
        margin-bottom: 80px;
    }

    .button__link {
        font-size: 32px;
        line-height: 90px;
        height: 90px;
    }

    .portfolio__icon-arrow {
        font-size: 54px;
    }

    .portfolio-content__items {
        width: 750px;
    }

    .portfolio-content__item {
        width: 250px;
        height: 250px;
    }

    .portfolio-dots__dot {
        font-size: 40px;
    }

    .offer-content {
        margin-top: 40px;
    }

    .offer-content__item {
        margin-bottom: 40px;
    }

    .offer-content__title {
        line-height: 100px;
        font-size: 42px;
    }

    .offer-content__description {
        padding: 30px 30px 50px 30px;
    }

    .offer-content__text {
        font-size: 26px;
    }

    .offer-content__link {
        font-size: 30px;
        padding: 10px 20px;
    }

    .section__content--contact {
        padding: 100px 0;
    }

    .contact-content {
        padding: 40px;
    }

    .form__label {
        font-size: 30px;
    }

    .form__input,
    .form__textarea {
        margin-bottom: 50px;
        height: 70px;
        font-size: 26px;
    }

    .form__button {
        font-size: 30px;
        line-height: 80px;
    }

    .socials {
        margin-top: 40px;
    }

    .socials__icon {
        font-size: 80px;
        line-height: 90px;
    }


    .footer__copyright {
        font-size: 26px;
        line-height: 90px;
    }

}


@media (min-width: 568px) and (orientation: landscape) {

    .navbar {
        height: 50px;
        align-items: center;
    }

    .burger {
        display: none;
    }

    .menu {
        flex-direction: row;
        transform: translateY(0);
        padding-top: 0;
    }

    .menu__link {
        line-height: 100%;
        font-size: 12px;
    }

    .menu__underscore {
        height: 1px;
    }

    .to-top-container {
        height: 30px;
        bottom: 20px;
    }

    .to-top {
        width: 30px;
        height: 30px;
        font-size: 14px;
        transform: translateY(50px);
    }

    .to-top--show {
        transform: translateY(0);
    }

    .section__content {
        padding: 70px 0;
    }

    .first-line::after {
        content: "";
        white-space: pre;
    }

    .section--home {
        padding-top: 50px;
    }

    .logo {
        height: calc(50vh - 25px);
    }

    .banner__img {
        max-width: 100%;
        max-height: none;
    }

    .banner__text {
        font-size: 20px;
        padding: 10px 20px;
    }

    .section__content--about {
        background-color: #03030390;
        padding: 70px 40px;
    }

    .section__description {
        font-size: 12px;
    }

    .buttons-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .button--portfolio {
        margin-bottom: 0px;
    }

    .button__link {
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 36px;
        height: 36px;
        padding: 0 20px;
    }

    .portfolio-content__items {
        width: 350px;
    }

    .portfolio-content__item {
        width: 70px;
        height: 70px;
    }

    .offer-content {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .offer-content__item {
        width: auto;
        height: 100%;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .offer-content__item:nth-last-child(1) {
        margin-bottom: 0;
        margin-right: 0;
    }

    .offer-content__title {
        font-size: 14px;
    }

    .offer-content__link {
        font-size: 12px;
    }

    .section__content--contact {
        padding: 70px 0;
    }

    .form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: space-between;
        position: relative;
        flex: 1;
    }

    .form__label {
        font-size: 12px;
        margin-bottom: 5px;
        width: 30%;
        line-height: 20px;
        text-align: end;
        padding-right: 10px;
    }

    .form__input,
    .form__textarea {
        margin-bottom: 0px;
        height: 20px;
        font-size: 10px;
        padding: 5px;
        width: 70%;
    }

    .form__textarea {
        flex: none;
        height: 40px;
    }

    .form__button {
        transition: .3s;
        margin-top: 10px;
        width: 70%;
        font-size: 12px;
        line-height: 30px;
    }

    .socials__icon {
        font-size: 20px;
        line-height: 20px;
    }

    .footer__copyright {
        font-size: 12px;
        line-height: 50px;
    }
}


@media (min-width: 667px) and (orientation: landscape) {


    .menu__link {
        font-size: 14px;
    }

    .to-top--show {
        transform: translateY(0);
    }

    .banner__text {
        font-size: 26px;
    }

    .section__description {
        font-size: 14px;
    }

    .button__link {
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        padding: 0 30px;
    }

    .portfolio-content__items {
        width: 480px;
    }

    .portfolio-content__item {
        width: 80px;
        height: 80px;
    }

    .offer-content__img {
        max-width: none;
        max-height: 100%;
    }

    .offer-content__title {
        font-size: 16px;
    }

    .offer-content__text {
        font-size: 12px;
    }

    .offer-content__link {
        font-size: 14px;
    }

    .section__content--contact {
        padding: 70px 0;
    }

    .form__label {
        font-size: 14px;
        width: 30%;
        line-height: 24px;
    }

    .form__input,
    .form__textarea {
        height: 24px;
        font-size: 12px;
    }

    .form__textarea {
        height: 50px;
    }

    .form__button {
        font-size: 14px;
        line-height: 36px;
    }

    .socials__icon {
        font-size: 24px;
        line-height: 24px;
    }

    .footer__copyright {
        font-size: 14px;
    }
}



@media (min-width: 812px) and (orientation: landscape) {
    .menu__link {
        font-size: 16px;
    }

    .section__title {
        font-size: 38px;
    }


    .banner__text {
        padding: 15px 35px;
    }

    .section__description {
        font-size: 16px;
    }

    .button__link {
        font-size: 16px;
        line-height: 46px;
        height: 46px;
    }

    .portfolio-content__items {
        width: 560px;
    }

    .offer-content__img {
        max-width: 100%;
        max-height: none;
    }

    .offer-content__title {
        font-size: 18px;
        line-height: 42px;
    }

    .offer-content__text {
        font-size: 14px;
    }

    .offer-content__link {
        font-size: 16px;
    }

    .form__label {
        font-size: 16px;
        width: 25%;
        line-height: 26px;
    }

    .form__input,
    .form__textarea {
        height: 26px;
        font-size: 14px;
        width: 75%;
    }

    .form__button {
        font-size: 16px;
        width: 75%;

    }

    .socials__icon {
        font-size: 26px;
        line-height: 26px;
    }
}



@media (min-width: 1024px) and (orientation: landscape) {
    .navbar {
        height: 90px;
    }

    .menu__link {
        font-size: 24px;
    }

    .menu__underscore {
        height: 2px;
    }

    .to-top-container {
        height: 70px;
        bottom: 20px;
    }

    .to-top {
        width: 70px;
        height: 70px;
        font-size: 28px;
        transform: translateY(90px);
    }

    .to-top--show {
        transform: translateY(0);
    }

    .section__content {
        padding: 110px 0;
    }

    .section__title {
        font-size: 60px;
        padding-top: 40px;
    }

    .section--home {
        padding-top: 90px;
    }

    .logo {
        height: calc(50vh - 45px);
    }

    .logo__name {
        font-size: 80px;
        line-height: 100%;
    }

    .logo__profession {
        font-size: 60px;
    }

    .banner__text {
        font-size: 40px;
        padding: 20px 40px;
    }

    .section__content--about {
        padding: 110px 60px;
    }

    .section__description {
        font-size: 26px;
        margin: 30px 0;
    }

    .button--portfolio {
        margin-bottom: 0;
    }

    .button__link {
        font-size: 28px;
        line-height: 80px;
        height: 80px;
    }

    .portfolio__icon-arrow {
        font-size: 54px;
    }

    .portfolio-content__items {
        width: 750px;
    }

    .portfolio-content__item {
        width: 150px;
        height: 150px;
    }

    .portfolio-dots__dot {
        font-size: 30px;
    }

    .offer-content {
        margin-top: 40px;
    }

    .offer-content__item {
        margin-bottom: 0;
        height: 80%;
        margin-right: 30px;
    }

    .offer-content__img {
        max-width: none;
        max-height: 100%;
    }

    .offer-content__title {
        line-height: 80px;
        font-size: 32px;
    }

    .offer-content__description {
        padding: 20px 20px 30px 20px;
    }

    .offer-content__text {
        font-size: 22px;
    }

    .offer-content__link {
        font-size: 24px;
        padding: 10px;
    }

    .section__content--contact {
        padding: 100px 0;
    }

    .contact-content {
        padding: 40px;
    }

    .form__label {
        font-size: 26px;
        line-height: 46px;
        width: 35%;
    }

    .form__input,
    .form__textarea {
        height: 46px;
        font-size: 24px;
        width: 65%;
        margin-bottom: 0;
    }

    .form__textarea {
        height: 100px;
    }

    .form__button {
        font-size: 26px;
        line-height: 60px;
        width: 65%;
    }

    .socials {
        margin-top: 0;
        margin-left: 50px;
    }

    .socials__icon {
        font-size: 46px;
        line-height: 46px;
    }


    .footer__copyright {
        font-size: 22px;
        line-height: 90px;
    }
}


@media (min-width: 1366px) and (orientation: landscape) {
    .menu__link {
        font-size: 26px;
    }

    .section__title {
        font-size: 70px;
    }

    .logo__name {
        font-size: 100px;
    }

    .logo__profession {
        font-size: 80px;
    }

    .banner__text {
        font-size: 60px;
        padding: 30px 50px;
    }

    .section__description {
        font-size: 32px;
    }

    .button__link {
        font-size: 32px;
        line-height: 90px;
        height: 90px;
    }

    .portfolio__icon-arrow {
        font-size: 60px;
    }

    .portfolio-content__items {
        width: 1000px;
    }

    .portfolio-content__item {
        width: 200px;
        height: 200px;
    }

    .offer-content__description {
        padding: 30px 30px 50px 30px;
    }

    .offer-content__text {
        font-size: 24px;
    }

    .offer-content__link {
        font-size: 26px;
    }

    .form__label {
        font-size: 28px;
        line-height: 60px;
        width: 25%;
    }

    .form__input,
    .form__textarea {
        height: 60px;
        font-size: 26px;
        width: 75%;
        padding: 20px;
    }

    .form__textarea {
        height: 120px;
    }

    .form__button {
        font-size: 28px;
        line-height: 80px;
        width: 75%;
    }

    .socials__icon {
        font-size: 50px;
        line-height: 50px;
    }

    .footer__copyright {
        font-size: 22px;
        line-height: 90px;
    }

    .footer__copyright {
        font-size: 24px;
    }

}


/* PC */

@media (min-width: 1367px) {
    .navbar {
        height: 70px;
    }

    .menu__link {
        line-height: 100%;
        font-size: 18px;
    }

    .to-top-container {

        height: 50px;
        bottom: 20px;
    }

    .to-top {

        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 20px;
        transform: translateY(70px);
        transition: .5s;
    }

    .to-top--show {
        transform: translateY(0);
    }

    .section__content {
        padding: 90px 0;
    }

    .section__title {
        font-size: 46px;
    }

    .section--home {
        padding-top: 70px;
    }

    .logo {

        height: calc(50vh - 35px);
    }

    .logo__name {
        font-size: 80px;
    }

    .logo__profession {
        font-size: 60px;
    }

    .banner__text {
        font-size: 40px;
    }

    .section__content--about {
        padding: 90px 40px;
    }

    .section__description {
        font-size: 20px;
    }

    .button__link {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 50px;
        height: 50px;
        padding: 0 20px;
    }

    .portfolio-content__items {
        height: 100%;
        width: 1050px;
    }

    .portfolio-content__item {
        width: 150px;
        height: 150px;
        overflow: hidden;
        padding: 2px;
    }

    .portfolio-dots__dot {
        font-size: 20px;
    }

    .offer-content__item {
        width: 100%;
    }

    .offer-content__img {
        max-width: 100%;
        max-height: none;
    }

    .offer-content__title {
        font-size: 30px;
    }

    .offer-content__text {
        font-size: 16px;
    }

    .offer-content__link {
        font-size: 18px;
    }

    .section__content--contact {
        padding: 90px 0;
    }

    .form__label {
        font-size: 18px;
        line-height: 40px;
    }

    .form__input,
    .form__textarea {
        height: 40px;
        font-size: 16px;
        padding: 10px;
    }

    .form__textarea {
        height: 60px;
    }

    .form__button {
        line-height: 50px;
        font-size: 20px;
    }

    .socials__icon {
        font-size: 40px;
        line-height: 40px;
    }

    .footer__copyright {
        font-size: 16px;
        line-height: 70px;
    }
}